---
import { getReadingSummary } from "@/lib/books";
import Section from "@/components/utils/Section.astro";
import List from "@/components/utils/List.astro";
import ActionLink from "@/components/utils/ActionLink.astro";

const summary = await getReadingSummary();
---

{
  summary && summary.latest && Array.isArray(summary.favorites) && (
    <Section title="Reading Summary">
      <ActionLink slot="header-actions" href="/books" text="View all" />

      <List>
        {(() => {
          return [
            <li class="list-item">
              <span class="item-main">{summary.latest.title}</span>
              <span class="item-meta">
                {summary.latest.startedAt
                  ? `Started: ${new Date(summary.latest.startedAt).toLocaleDateString()}`
                  : "Started: Unknown"}
              </span>
            </li>,
            ...summary.favorites.map((book) => (
              <li class="list-item">
                <span class="item-main">{book.title}</span>
                <span class="item-meta">{(book.stars ?? 0) / 2} stars</span>
              </li>
            )),
          ];
        })()}
      </List>
    </Section>
  )
}
