---
import { getLiveCollection } from "astro:content";
import Section from "@/components/utils/Section.astro";
import List from "@/components/utils/List.astro";

const { entries: posts } = await getLiveCollection("posts");
const filteredPosts = posts?.slice(0, 3) || [];
---

{
  filteredPosts.length > 0 && (
    <Section title="Recent Blog Posts">
      <List>
        {filteredPosts.map((post) => (
          <li class="list-item clickable">
            <div class="item-left">
              <span class="item-main">
                {post.data.title || "Untitled Blog Post"}
              </span>
            </div>
            <span class="arrow">→</span>
          </li>
        ))}
      </List>
    </Section>
  )
}
