.sw--pause line {
  animation: none !important;
}

.sw line {
  transform-origin: center;
  stroke: #b3b3b3;
  transition: stroke 1s ease-in-out;
  animation: sound 0.4s linear infinite alternate;
}

.sw line.sw__full {
  stroke: #1db954;
}

@media screen and (max-width: 600px) {
  .sw > svg {
    width: 100%;
  }
}

@keyframes sound {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
