.spotify {
  grid-area: gallery;
}

.spotify__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* logo and record */
.spotify__image {
  position: relative;
  margin: 0 1.25rem 0 0;
  padding-right: 3rem;
}

.spotify__logo {
  height: 147px;
  width: 147px;
}

.spotify__logo path {
  fill: #e8f8ee;
}

html.theme-dark .spotify__logo path {
  fill: #17281d;
}

.spotify__record {
  height: 110px;
  width: 110px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* song name */
.spotify__details h6 {
  margin: 0rem;
}

.spotify__details p {
  margin-top: 0rem;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 600px) {
  .spotify__main {
    flex-direction: column;
  }

  .spotify__details {
    text-align: center;
  }

  .spotify__image {
    margin-bottom: 2.5rem;
  }
}
