---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import WaveDivider from "../components/WaveDivider.astro";
import Webring from "../components/Webring.astro";
import SpotifyNowPlaying from "../components/SpotifyNowPlaying.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Felix Schneider">
  <main>
    <Intro />
    <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

    <Projects />
    <WaveDivider color="flamingo" speed={100} size={0.8} direction="right" />

    <SpotifyNowPlaying />
    <WaveDivider color="mauve" speed={100} size={0.8} direction="left" />

    <Webring />
    <WaveDivider color="pink" speed={100} size={0.8} direction="right" />

    <Socials />
  </main>
</Layout>
