---
import LayoutBreadcrumbs from "@/layouts/LayoutBreadcrumbs.astro";
import Section from "@/components/utils/Section.astro";
import Card from "@/components/projects/Card.astro";
import { getOwnProjects, getContributedProjects } from "@/lib/github";

const contributedProjects = await getContributedProjects();
const ownProjects = await getOwnProjects();
---

<LayoutBreadcrumbs title="Projects | trueberryless">
  <div class="projects-wrapper">
    <h1>Open Source Projects</h1>

    {
      contributedProjects.length > 0 && (
        <Section title="Contributions">
          <div class="projects-grid">
            {contributedProjects.map((project) => (
              <Card {...project} />
            ))}
          </div>
        </Section>
      )
    }

    {
      ownProjects.length > 0 && (
        <Section title="Personal creations">
          <div class="projects-grid">
            {ownProjects.map((project) => (
              <Card {...project} />
            ))}
          </div>
        </Section>
      )
    }
  </div>
</LayoutBreadcrumbs>

<style>
  .projects-wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  @media (min-width: 640px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
