---
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.png'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<a href="/" class="flex items-center gap-2 !no-underline">
  <Image src={logo} alt="trueberryless Logo" width="24" height="24" loading={loading} />
  <span class="font-bold">trueberryless</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
