---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "My corner of the internet." } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="/favicon.png" />
<title>{title}</title>
<meta name="description" content={description} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Datatype&display=swap"
  rel="stylesheet"
/>
